doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/favicon.png", type="image/x-icon")
        title Кредит на покупку автомобиля, оформить и взять кредит на авто онлайн — «Автокред»
    body 
        header.header 
            .header__logo 
                img(src="./assets/images/content/logoRed.svg", alt="")
            .header__container    
                .header__title Кредит на автомобиль
                .header__subtitle Без первоначального взноса

            .header__numbers 
            .header__review
                .header__review-container
                    .review-block 
                        .review-block__title За 1 час
                        .review-block__subtitle решение по кредиту
                    .review-block 
                        .review-block__title До 7 500 000 ₽
                        .review-block__subtitle сумма кредита
                    .review-block 
                        .review-block__title От полугода до 8 лет
                        .review-block__subtitle срок кредитования
                a(href="#form").header__button--apply Заполнить заявку


        main.main
            .main__header Онлайн-заявка на автокредит
            .main__navigation 
                .navigation-block 
                    .navigation-stage#banksStage
                    .navigation-subtitle Все банки специализируются на автокредитовании
                .navigation-block 
                    .navigation-stage#checkStage  
                    .navigation-subtitle Кредит на новое авто или авто с пробегом
                .navigation-block 
                    .navigation-stage#lastStage  
                    .navigation-subtitle Без каско, первоначального взноса, справок и скрытых платежей
            .main__container#form
                .init-slide.slide-container#initSlide 
                    .slide-container__slide
                        .slide-content 
                            .slide-container__header Вы уже определились с автомобилем?
                            .slide-container__button-group 
                                .button.button--yes#yesFormTrans Да
                                .button.button--no#noFormTrans Нет
                            .slide-container__control-panel 
                                .status-bar.status-bar--10
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

                        
                form.yes-form-slide.slide-container.js-hidden--Animated#yesForm
                    .slide-container__slide#creditSlide
                        .slide-content 
                            .slide-container__header Расскажите больше о том, какой вы хотите кредит
                            .slide-container__content-group 
                                .content-group__slider 
                                    input#sliderCreditInput(type="text", name="sliderCreditInput", value="Сумма кредита:") 
                                    .slider#sliderCredit
                                .content-group__slider 
                                    input#sliderInvestInput(type="text", name="sliderInvestInput", value="Первоначальный взнос:")
                                    .slider#sliderInvest
                                .content-group__picker 
                                    .picker-display 
                                        span#pickerTime 3 года
                                        .picker-display__options.js-hidden--Animated 
                                            .option 6 месяцев
                                            .option 1 год
                                            .option 2 года
                                            .option.checked 3 года
                                            .option 4 года
                                            .option 5 лет
                                            .option 6 лет
                                            .option 7 лет
                                            .option 8 лет
                                    input#timePicker(type="text", name="timePicker",value="Срок кредитования:")
                            .slide-container__control-panel 
                                .status-bar.status-bar--50
                                .control__nav-buttons 
                                    .nav-button.nav-button--back#toInitSlide
                                    .nav-button.nav-button--forward#toSendSlide Дальше
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 
                    .slide-container__slide.js-hidden--Animated#sendSlide
                        .slide-content     
                            .slide-container__header Оставить заявку
                            .slide-container__input-group 
                                input#user(type="text", name="user", placeholder = "Фамилия, имя и отчество", equired) 
                                input#phone(type="tel", name="phone", placeholder = "Номер телефона", data-inputmask="'mask': '+7(999) 999-99-99'", required)
                                label(for="citizenLabel").container 
                                    .agreement-label 
                                        | Я являюсь гражданином РФ
                                    input#citizenLabel(type="checkbox", name="agreementLabel", required).form-checkbox
                                    span.checkmark 
                                label(for="agreementLabel").container 
                                    .agreement-label 
                                        | Я соглашаюсь с 
                                        a(href="https://avtokred.com/privacy", target="_blank").agreement-label__link условиями 
                                        |  и даю свое согласие на обработку и использование персональных данных, и разрешаю сделать запрос в бюро кредитных историй
                                    input#agreementLabel(type="checkbox", name="agreementLabel", checked, required).form-checkbox
                                    span.checkmark
                                button#applyformSubmit(type="submit").form-submit Продолжить  
                            .slide-container__control-panel 
                                .status-bar.status-bar--95
                                .control__nav-buttons 
                                    .nav-button.nav-button--back#toCreditSlide
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
                form.no-form-slide.slide-container.js-hidden--Animated#noform
                    .slide-container__slide#typeSlide
                        .slide-content 
                            .slide-container__header(style="width: 90%") Расскажите нам о том, какое транспортное средство вы хотите
                            .slide-container__complex-group 
                                .radio-group
                                    input#motoType(type="radio", name="transportType")
                                    label(for="motoType").radio-label  
                                        .checkmark 
                                        .name Мотоцикл
                                    input#carType(type="radio", name="transportType", checked)
                                    label(for="carType").radio-label 
                                        .checkmark 
                                        .name Автомобиль
                                
                                    input#truckType(type="radio", name="transportType")
                                    label(for="truckType").radio-label 
                                        .checkmark 
                                        .name Грузовик

                                    input#specType(type="radio", name="transportType")
                                    label(for="specType").radio-label 
                                        .checkmark 
                                        .name Спецтехника
                                    input#otherType(type="radio", name="transportType")
                                    label(for="otherType").radio-label  
                                        .checkmark 
                                        .name Другое
                                        
                                .display-group
                                    img(src="./assets/images/content/vk.svg", alt="")#moto.js-hidden--Animated.radio-image  
                                    img(src="./assets/images/content/car.png", alt="")#car.radio-image 
                                    img(src="./assets/images/content/banner2.png", alt="")#truck.js-hidden--Animated.radio-image  
                                    img(src="./assets/images/content/interestRed.png", alt="")#spec.js-hidden--Animated.radio-image  
                                    img(src="./assets/images/content/favicon.png", alt="")#other.js-hidden--Animated.radio-image  
                            .slide-container__control-panel 
                                .status-bar.status-bar--30
                                .control__nav-buttons 
                                    .nav-button.nav-button--back#toInitSlideFromNo
                                    .nav-button.nav-button--forward#toCreditSlideFromNo Дальше
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
 
                    .slide-container__slide.js-hidden--Animated#uncertainCreditSlide
                        .slide-content 
                            .slide-container__header Расскажите больше о том, какой вы хотите кредит
                            .slide-container__content-group 
                                .content-group__slider 
                                    input#sliderCreditInputUncertain(type="text", name="sliderCreditInputUncertain", value="Желаемая cумма кредита:") 
                                    .slider#sliderCreditUncertain
                                .content-group__slider 
                                    input#sliderInvestInputUncertain(type="text", name="sliderInvestInputUncertain", value="Первоначальный взнос:")
                                    .slider#sliderInvestUncertain
                                .content-group__picker 
                                    .picker-display.display--uncertain 
                                        span#pickerTimeUncertain 3 года
                                        .picker-display__options.display__options--uncertain.js-hidden--Animated 
                                            .option.option--uncertain 6 месяцев
                                            .option.option--uncertain 1 год
                                            .option.option--uncertain 2 года
                                            .option.option--uncertain.checked 3 года
                                            .option.option--uncertain 4 года
                                            .option.option--uncertain 5 лет
                                            .option.option--uncertain 6 лет
                                            .option.option--uncertain 7 лет
                                            .option.option--uncertain 8 лет
                                    input#timePickerUncertain(type="text", name="timePicker",value="Срок кредитования:")
                            .slide-container__control-panel 
                                .status-bar.status-bar--50
                                .control__nav-buttons 
                                    .nav-button.nav-button--back#toTypeSlide
                                    .nav-button.nav-button--forward#toUncertainSendSlide Дальше
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
                    .slide-container__slide.js-hidden--Animated#uncertainSendSlide
                        .slide-content     
                            .slide-container__header Оставить заявку
                            .slide-container__input-group 
                                input#userUncertain(type="text", name="user", placeholder = "Фамилия, имя и отчество", equired) 
                                input#phoneUncertain(type="tel", name="phone", placeholder = "Номер телефона", data-inputmask="'mask': '+7(999) 999-99-99'", required)
                                label(for="citizenLabelUncertain").container 
                                    .agreement-label 
                                        | Я являюсь гражданином РФ
                                    input#citizenLabelUncertain(type="checkbox", name="agreementLabel", required).form-checkbox
                                    span.checkmark 
                                label(for="agreementLabelUncertain").container 
                                    .agreement-label 
                                        | Я соглашаюсь с 
                                        a(href="https://avtokred.com/privacy", target="_blank").agreement-label__link условиями 
                                        |  и даю свое согласие на обработку и использование персональных данных, и разрешаю сделать запрос в бюро кредитных историй
                                    input#agreementLabelUncertain(type="checkbox", name="agreementLabel", checked, required).form-checkbox
                                    span.checkmark
                                button#applyformSubmitUncertain(type="submit").form-submit Продолжить  
                            .slide-container__control-panel 
                                .status-bar.status-bar--95
                                .control__nav-buttons 
                                    .nav-button.nav-button--back#toUncertainCreditSlide
                        .slide-advice  
                            .approve-label 
                                | Одобрение:
                                span 10%
                            .person-container 
                                .person-info
                                    .person-image 
                                        img(src="./assets/images/content/car.png", alt="")
                                    .person-name Lorum Ipsum
                                .person-message Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
                 
                        
            .main__aware
                | Действуют для заемщиков, заключивших Договор выдачи Кредита наличными и подписавших Индивидуальные условия выдачи Кредита наличными, предоставленные на основании Заявления на получение Кредита наличными с 1 июня 2014 года.
                | Ставка от 6,5% до 20,99% годовых определяется для каждого заёмщика индивидуально. При подтверждении целевого использования средств (покупки автомобиля) ставка снижается на 1% процент и может составлять от 5,5% до 19,99%. Ставка действительна на весь срок кредитования. Предложение действует до 20.12.2021. Неустойка за просрочку платежа — 0,1% за каждый день просрочки. Лимит — от 50 000 до 7,5 млн ₽. Срок — от 1 года до 5 лет. Банк оставляет за собой исключительное право на изменение срока действия предложения и на предоставление или отказ в предоставлении кредита. АО «Альфа-Банк». Ген. лицензия ЦБ РФ № 1326 от 16.01.2015.
                | Пример расчёта платежей для кредита 255 000 ₽ на 5 лет по ставке 8,5% годовых. Переплата по процентам — 71 631 ₽, стоимость страховки на 5 лет —  55 080 ₽. Всего за 5 лет вам нужно выплатить 381 711 ₽. Расчёт приблизительный. Точная сумма зависит от даты выдачи кредита.
        footer.footer 
            .footer-row
                span.footer-company © ООО "Автокредит", 2017-2022. Все права защищены
                a(href="https://avtokred.com/privacy", target="_blank").footer-privacy Политика конфиденциальности
                span.footer-legal ИНН: 0301201060
                span.footer-legal ОГРН: 1160327065315
            .footer-row
                span.footer-developer 
                    | Создано
                    a(href="https://github.com/felixfreidman", target="_blank").footer-privacy Феликсом Фрейдманом
            
        script(src="./assets/js/jquery.min.js")  
        script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js") 
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js") 
        