.main__container {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slide-container {
    animation: fromZeroToFull 0.5s ease;
    height: 350px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    &__slide {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #B20A2C;
        border-radius: 22px;
        padding: 20px;
    }
    &__header {
        text-align: center;
        font-weight: 600;
        font-size: 28px;
        color: #0b1f35;
    }
    .slide-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: calc(70% - 40px);
        height: calc(100% - 40px);
        background-color: #fff;
        border-radius: 22px;
        margin-right: 20px;
        padding: 20px;
    }
    .slide-advice {
        width: calc(30% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
        background-color: #fff;
        border-radius: 22px;
    }
    &__button-group {
        display: flex;
        width: 50%;
        height: fit-content;
        align-items: center;
        justify-content: space-between;
        .button {
            font-weight: 500;
            font-size: 20px;
            color: #fff;
            border-radius: 8px;
            padding: 20px;
            width: calc(45% - 40px);
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 5px 5px 0px #ccc;
            &:hover {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
            &--yes {
                background-color: #B20A2C;
            }
            &--no {
                background-color: rgba($color: #0b1f35, $alpha: .8);
            }
        }
    }
    &__control-panel {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        .status-bar {
            width: 70%;
            height: 10px;
            border-radius: 8px;
            background-color: #c2bdbc;
            margin-right: 20px;
            position: relative;
            &:after {
                content: "";
                display: block;
                height: 10px;
                position: absolute;
                width: 0;
                top: 0;
                left: 0;
                border-radius: 50px;
                background-color: #B20A2C
            }
            &--0 {
                &::after {
                    width: 0%;
                }
            }
            &--10 {
                &::after {
                    width: 10%;
                }
            }
            &--20 {
                &::after {
                    width: 20%;
                }
            }
            &--30 {
                &::after {
                    width: 30%;
                }
            }
            &--40 {
                &::after {
                    width: 40%;
                }
            }
            &--50 {
                &::after {
                    width: 50%;
                }
            }
            &--60 {
                &::after {
                    width: 60%;
                }
            }
            &--70 {
                &::after {
                    width: 70%;
                }
            }
            &--80 {
                &::after {
                    width: 80%;
                }
            }
            &--90 {
                &::after {
                    width: 90%;
                }
            }
            &--95 {
                &::after {
                    width: 95%;
                }
            }
        }
        .control__nav-buttons {
            display: flex;
            align-items: center;
            width: 30%;
            justify-content: space-around;
        }
        .nav-button {
            background-color: #fff;
            border: 3px solid #B20A2C;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s ease;
            box-shadow: 5px 5px 0px #ccc;
            &:hover {
                transform: translate(5px, 5px);
                box-shadow: none;
            }
            &--back {
                border-radius: 50%;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 5px;
                    right: 0;
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-right: auto;
                    margin-left: auto;
                    width: 15px;
                    height: 15px;
                    border-left: 3px solid #B20A2C;
                    border-bottom: 3px solid #B20A2C;
                    border-radius: 0 0 0 3px;
                    transform: rotate(45deg);
                }
            }
            &--forward {
                width: 120px;
                border-radius: 22px;
                background-color: #B20A2C;
            }
        }
    }
    &__content-group {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        .content-group__slider {
            width: 45%;
            height: fit-content;
            margin-bottom: 30px;
            .slider {
                width: 100%;
                height: 15px;
                border: none;
                cursor: pointer;
                background-color: rgba($color: #c2bdbc, $alpha: .5);
                border-radius: 22px;
            }
            .ui-slider-handle {
                border-radius: 50%;
                height: 25px;
                width: 25px;
                background-color: #B20A2C;
                outline: none;
                border: none;
            }
            .ui-slider-range {
                background-color: #B20A2C;
                border-radius: 22px;
            }
            input {
                margin-bottom: 40px;
                margin-top: 20px;
                padding: 15px 10px;
                display: flex;
                align-items: center;
                width: calc(100% - 20px);
                outline: none;
                border: none;
                border-bottom: 3px solid #B20A2C;
                box-shadow: 0px 10px 10px rgba($color: #ccc, $alpha: .5);
                font-weight: 500;
                font-size: 14px;
                &::placeholder {
                    color: #0b1f35;
                    font-weight: 600;
                }
            }
        }
        .content-group__picker {
            margin-bottom: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .picker-display {
                width: 45%;
                border: 3px solid #B20A2C;
                height: 40px;
                border-radius: 12px;
                text-transform: uppercase;
                color: #0b1f35;
                font-weight: 700;
                font-size: 16px;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
                cursor: pointer;
                &__options {
                    width: 100%;
                    position: absolute;
                    bottom: -400px;
                    left: -4px;
                    height: fit-content;
                    border-radius: 12px;
                    border: 3px solid #B20A2C;
                    background-color: #fff;
                    padding: 20px 0;
                    z-index: 100;
                    .option {
                        font-weight: 600;
                        font-size: 18px;
                        margin-bottom: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-transform: uppercase;
                        color: #0b1f35;
                        &:hover {
                            color: #B20A2C;
                        }
                    }
                    .checked {
                        color: #B20A2C;
                        font-weight: 700;
                    }
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 3px;
                    margin-top: auto;
                    margin-bottom: auto;
                    right: 15px;
                    width: 10px;
                    height: 10px;
                    border-right: 3px solid #B20A2C;
                    border-bottom: 3px solid #B20A2C;
                    transform: rotate(45deg);
                    transition: all 0.3s ease;
                }
            }
            .picker-display:hover:after {
                transform: rotate(225deg);
                bottom: -3px;
            }
            input {
                padding: 15px 10px;
                display: flex;
                align-items: center;
                width: calc(45% - 20px);
                outline: none;
                border: none;
                border-bottom: 3px solid #B20A2C;
                box-shadow: 0px 10px 10px rgba($color: #ccc, $alpha: .5);
                font-weight: 500;
                font-size: 14px;
                &::placeholder {
                    color: #0b1f35;
                    font-weight: 600;
                }
            }
        }
    }
    &__input-group {
        display: flex;
        flex-direction: column;
        align-items: start;
        input {
            margin-bottom: 40px;
            margin-top: 20px;
            padding: 15px 10px;
            display: flex;
            align-items: center;
            width: calc(100% - 20px);
            outline: none;
            border: none;
            border-bottom: 3px solid #B20A2C;
            box-shadow: 0px 10px 10px rgba($color: #ccc, $alpha: .5);
            font-weight: 500;
            font-size: 14px;
            color: #B20A2C;
            font-weight: 600;
            &::placeholder {
                color: #0b1f35;
                font-weight: 500;
            }
        }
        .form-submit {
            width: 50%;
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            background-color: #B20A2C;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 80px;
            max-height: 80px;
            border-radius: 8px;
            border: none;
            align-self: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &__complex-group {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        .radio-group {
            width: 45%;
            label {
                width: calc(100% - 60px);
                padding: 0 30px;
                border: 3px solid #B20A2C;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                margin-bottom: 20px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.3s ease;
                .checkmark {
                    position: static;
                    width: 20px;
                    height: 20px;
                    border: 3px solid #B20A2C;
                    border-radius: 50%;
                    display: block;
                    background-color: #fff;
                }
                .name {
                    color: #0b1f35;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            input {
                display: none;
            }
            input:checked+label {
                background-color: #B20A2C;
                .name {
                    color: #fff;
                }
            }
        }
        .display-group {
            width: 45%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.js-hidden--Animated {
    animation: fromFullToZero 0.5s ease !important;
    display: none !important;
}

// ANIMATION FOR QUIZ
@keyframes fromZeroToFull {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fromFullToZero {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.yes-form-slide,
.no-form-slide {
    height: fit-content !important;
}

.container {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .agreement-label {
        font-size: 16px;
        font-weight: 400;
        color: #0b1f35;
        margin-left: 20px;
        line-height: 22px;
        a {
            display: inline-block;
            font-size: 16px;
            font-weight: 500;
            text-decoration: underline;
            color: #B20A2C;
        }
    }
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -5px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #B20A2C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.input-warning {
    border-bottom: 1px solid #B20A2C !important;
    color: #B20A2C;
    font-weight: 600;
}